/* reset browser styles */
.clr:after{clear:both;content:'.';display:block;visibility:hidden;height:0}.clr{display:inline-block}* html .clr{height:1%}.clr{display:block}

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr,
acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, form, label, table,
caption, tbody, tfoot, thead, tr, th, td, fieldset {margin:0;padding:0;border:0;}

em { font-style: normal; }

a img {border:none;}

li {
  list-style-type: none;
}

table {
  border-collapse:separate;
  border-spacing:0;
}

:focus{
  -moz-outline-style: none;
  outline:none; 
}


caption, th, td {font-weight:normal;background: none;}
blockquote:before, blockquote:after, q:before, q:after {content:"";}
blockquote, q {quotes:"" "";}

html { height:auto; min-height:100%; bottom repeat-x; }
