html, body {
	font-family: Arial; font-size: 12px;
	background: url(img/bg.png); overflow: hidden;
}

p.instruction {
	color: #666; margin-top: 50px;
	font-size: 30px; text-align: center;
}

.dictation {
	margin: 0 auto; position: absolute; left: 0; right: 0; top: 50%;
	text-align: center; font-size: 29.87px; font-family: Monaco;
}

.dictation-input-wrapper {
	display: inline-block;
}

.dictation-input {
	border: 0; position: relative; z-index: 3;
	font-family: Monaco; font-size: 29.87px;
}

input.wrong {
	background: url(img/wrong.png);
}

input:disabled {
	color: #000;
	opacity: 1;
}

div.dictation-bar {
	float: left;
	position: relative;
	top: -1px;
	z-index: 4;
}

div.dictation-bar div {
	border-bottom: 1px solid #666;
	margin-left: 2px; margin-right: 2px;
}